<!DOCTYPE html>

<html>

<head>
    <title>Docs</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style>
        h1 {
            text-align: center;
        }
        body {
            background-color: #4caf50;
        }

        @* All of the documentation *@
        .docs {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #dec961;
            
            margin: auto;
            width: 50%;
        }

        @* encapsulating controller *@
        .controller {
            margin: 20px;

            background-color: #4caf50;
        }

        @* a method *@
        .method {
            padding: 0.1px;
            background-color: #BCA639;
        }

        @* represents a drop down item. *@
        .dropDown {
            
        }
    </style>
</head>

<body>
    <div class="docs">
        <h1>Show &amp; Sell Documentation</h1>

        <div class="controller" >
            <h2>Users</h2>
            <div class="method">
                <p>AllUsers</p>
                <div class="dropDown">

                </div>
            </div>
        </div>
    </div>
</body>

</html>