<!DOCTYPE html>
<html>

<head>
    <title>Docs</title>

    <style>
        .title {
            background-color: #026291;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 0px;

            color: white;
            text-align: center;
        }

        /* <!-- @* class for a category div *@ --> */
        .category {
            background-color: #109EE2;
            padding: 1px;
            padding-left: 5px;
            padding-right: 5px;
            width: 90%;
            padding-bottom: 25px;
            margin-bottom: 10px;

            color: white;
            text-align: left;

            border-radius: 25px;
        }

        /* <!-- @* class for specific method *@ --> */
        .methods {
            width: 100%;
            background-color: #6DC5F0;

            color: black;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid;
            border-spacing: 10px 0px;

            table-layout: fixed;

            font-size: 10pt;
        }
        .table td {
            width: 25%;
            border-bottom: 1px solid;
            padding: 5px;
            font-family: "Courier New", Courier, monospace;
        }
        .table tr:nth-child(even) {
            background-color: #6DC5F0;
        }
        .table tr:nth-child(odd) {
            background-color: lightgray;
        }
        .table th {
            padding: 5px;
            font-size: 12pt;
        }
        td, th {
            word-wrap: break-word;
            word-break: break-all;
        }

        h4 {
            font-size: 16pt;
            padding-left: 2%;
        }

        pre {
            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */

            font-family: "Courier New", Courier, monospace;
            font-size: 10pt;
        }
    </style>
</head>

<body style="background-color:#02496C; margin:0px;">
    <!-- @* The title *@ -->
    <div class="title">
        <h2>Show &amp; Sell Documentation</h2>
    </div>

    <br />

    <!-- @* div to seperate the data from the title. *@ -->
    <div style="margin: auto;" align="center">
        <!-- @* The Group Methods div *@ -->
        <div class="category">
            <h4>Group Methods</h4>
            <!-- @* methods for groups *@ -->
            <div class="methods">
                <table class="table">
                    <tr style="background-color: #6DC5F0">
                        <th align="left"><h3><b>Method</b></h3></th>
                        <th align="left"><h3><b>Path</b></h3></th>
                        <th align="left"><h3><b>Body</b></h3></th>
                        <th align="left"><h3><b>Description</b></h3></th>
                        <th align="left"><h3><b>Example</b></h3></th>
                    </tr>

                    <tr>
                        <td>GET</td>
                        <td>/api/groups/</td>
                        <td>N/A</td>
                        <td>Returns an array of all the Groups in JSON format.</td>
                        <td>GET showandsell/api/groups/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/groups?name={name of group}/</td>
                        <td>N/A</td>
                        <td>Returns an array of groups whose names match the query.</td>
                        <td>GET /showandsell/api/groups?name=My Group/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/groups/{GUID of group}/</td>
                        <td>N/A</td>
                        <td>Returns a group with the specified id</td>
                        <td>GET /showandsell/api/groups/9e64bdd0-4de4/</td>
                    </tr>
                    <tr>
                        <td>POST</td>
                        <td>/api/groups/</td>
                        <td>
<pre>
{
    "group": {
        "name":"Group Name",
        "admin":"GUID"
    },
    "password":"adminpassword"
}
</pre>
                        </td>
                        <td>Adds a group to the database if the group name isn't taken, the admin doesn't already have a group, and the adminpass is correct.</td>
                        <td>
<pre>
POST /api/groups/
{
    "group": {
        "name":"My Cool Group",
        "admin":"5ac56db2-f323"
    },
    "password":"cantguessthis123"
}
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>PUT</td>
                        <td>/api/groups/{GUID of group}/</td>
                        <td>
<pre>
{
    "newName":"name to change to",
    "password":"admin password of the group"
}
</pre>
                        </td>
                        <td>Updates a group with the new name.</td>
                        <td>
<pre>
PUT /api/groups/5ac56db2-f323/
{
    "newName":"Group Name 2",
    "password":"password2"
}
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>DELETE</td>
                        <td>/api/groups/{GUID of group}?adminPassword={password of group}/</td>
                        <td>N/A</td>
                        <td>Deletes a group and all of its contents.</td>
                        <td>DELETE showandsell/api/groups/5ac56db2-f323?adminPassword=myPassword/</td>
                    </tr>
                </table>
            </div>
        </div>

        <br />

        <!-- @* Users category *@ -->
        <div class="category">
            <h4>User Methods</h4>
            <!-- @* methods for users. *@ -->
            <div class="methods">
                <table class="table">
                    <tr style="background-color: #6DC5F0">
                        <th align="left"><h3><b>Method</b></h3></th>
                        <th align="left"><h3><b>Path</b></h3></th>
                        <th align="left"><h3><b>Body</b></h3></th>
                        <th align="left"><h3><b>Description</b></h3></th>
                        <th align="left"><h3><b>Example</b></h3></th>
                    </tr>

                    <tr>
                        <td>GET</td>
                        <td>/api/users?adminPass={developer password}/</td>
                        <td>N/A</td>
                        <td>Returns an array of all the Users in JSON format.</td>
                        <td>GET showandsell/api/users?adminPass=securePassword/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/users?name={name of user}/</td>
                        <td>N/A</td>
                        <td>Returns an array of the users whose names match the query</td>
                        <td>GET /showandsell/api/users?name=Brayden Cloud/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/users?username={username}&password={user password}/</td>
                        <td>N/A</td>
                        <td>Returns the user with the given username if the password is correct.</td>
                        <td>GET /showandsell/api/users?username=user123&password=pass/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/users/{GUID of user}?password={user password}/</td>
                        <td>N/A</td>
                        <td>Returns the user with the given id if the password is correct.</td>
                        <td>GET /showandsell/api/users/5ac56db2-f323?password=mypass/</td>
                    </tr>
                    <tr>
                        <td>POST</td>
                        <td>/api/users/</td>
                        <td>
<pre>
{
    "username":"your username",
    "password":"your password",
    "firstName":"your first name",
    "lastName":"Your last name",
    "email":"your email"
}
</pre>
                        </td>
                        <td>Adds a user to the database if the username, email, and password is valid.</td>
                        <td>
<pre>
POST /api/users/
{
  "username":"braybray",
  "password":"imsocool",
  "firstName":"Brayden",
  "lastName":"Cloud",
  "email":"braydencloud@email.com"
}
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>PUT</td>
                        <td>/api/users/{GUID of user}/</td>
                        <td>
<pre>
{
    "newUsername":"new user name",
    "oldPassword":"current password",
    "newPassword":"the password to change to",
    "newFirstName":"the first name to change to (put current name if no change)",
    "newLastName":"the new last name (use current if no change)",
    "newEmail":"new email (use current if no change)"
}
</pre>
                        </td>
                        <td>Updates a user with the new information.</td>
                        <td>
<pre>
PUT /api/users/5ac56db2-f323/
{
  "newUsername":"brayden.cloud",
  "oldPassword":"imsocool",
  "newPassword":"moresecure",
  "newFirstName":"Tom",
  "newLastName":"Cloud",
  "newEmail":"brayden.cloud@email.com"
}
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>DELETE</td>
                        <td>/api/users/{GUID of user}?password={user password}</td>
                        <td>N/A</td>
                        <td>Deletes a user and its group (if it has one) if the password is correct.</td>
                        <td>DELETE /api/users/5ac56db2-f323?password=imsocool/</td>
                    </tr>
                </table>
            </div>
        </div>

        <br />

        <!-- Category for item methods -->
        <div class="category">
            <h4>Item Methods</h4>
            <!-- @* methods for items. *@ -->
            <div class="methods">
                <table class="table">
                    <tr style="background-color: #6DC5F0">
                        <th align="left"><h3><b>Method</b></h3></th>
                        <th align="left"><h3><b>Path</b></h3></th>
                        <th align="left"><h3><b>Body</b></h3></th>
                        <th align="left"><h3><b>Description</b></h3></th>
                        <th align="left"><h3><b>Example</b></h3></th>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/items?name={name of item}&groupId={GUID of group to search within}/</td>
                        <td>N/A</td>
                        <td>Returns an array of items in the specified group, matching the name.</td>
                        <td>GET showandsell/api/items?name=hat&groupId=5ac56db2-f323/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/items?groupId={GUID of group to find items from}/</td>
                        <td>N/A</td>
                        <td>Return all the items in the specified group.</td>
                        <td>GET /showandsell/api/items?groupId=5ac56db2-f323/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/items?name={name of an item to search}/</td>
                        <td>N/A</td>
                        <td>Returns all items matching the name.</td>
                        <td>GET /showandsell/api/items?name=baseball/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/items/</td>
                        <td>N/A</td>
                        <td>Returns all items.</td>
                        <td>GET /showandsell/api/items/</td>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/items/{GUID of item}/</td>
                        <td>N/A</td>
                        <td>Returns the item with the GUID given.</td>
                        <td>GET /showandsell/api/users/5ac56db2-f323/</td>
                    </tr>
                    <tr>
                        <td>POST</td>
                        <td>/api/items/</td>
                        <td>
<pre>
{
    "groupId":"id of group it belongs to",
    "ownerId":"id of the user posting it",
    "name":"the title of the item",
    "price":"the price of the item (in decimal format)",
    "condition":"the item's condition",
    "description":"a short description of the item",
    "thumbnail":"thumbnail image SERIALIZED"
}
</pre>
                        </td>
                        <td>Adds a new item with the given data. NOTE: the image must be serialized to 
                        store in the database. This means for android, you will probably have to extend an
                        image class and implement serializable (if not already).</td>
                        <td>
<pre>
POST /api/items/
{
    "groupId":"5ac56db2-f323",
    "ownerId":"asdfwer1-3asd",
    "name":"Baseball bat",
    "price":"5.00",
    "condition":"Used, minor scuffs",
    "description":"wooden baseball bat, signed by Babe Ruth",
    "thumbnail":"(insert really long string that makes up an image.)"
}
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>PUT</td>
                        <td>/api/items/{GUID of item}?groupOwnerPassword={password of the group owner.}/</td>
                        <td>
<pre>
{
    "ownerPassword":"the password of the item's owner or the admin of the group it's in",
    "newName":"the name to replace with",
    "newPrice":"the new price (in decimal format)",
    "newCondition":"the new condition of the item",
    "newDescription":"new description of item",
    "newThumbnail":"the new thumbnail (see item POST for more detail)"
}
</pre>
                        </td>
                        <td>Updates an item with the new information.</td>
                        <td>
<pre>
PUT /api/items/5ac56db2-f323?groupOwnerPassword=GroupOwnerPass/
{
    "ownerPassword":"passpass",
    "newName":"Baseball glove",
    "newPrice":"7.00",
    "newCondition":"New",
    "newDescription":"Never used before glove.",
    "newThumbnail":"(a new long string of image)"
}
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>DELETE</td>
                        <td>/api/items/{GUID of item}?ownerPassword={owner password}</td>
                        <td>N/A</td>
                        <td>Deletes an item if the password is correct.</td>
                        <td>DELETE /api/items/5ac56db2-f323?ownerPassword=imsocool/</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Category for bookmark methods -->
        <div class="category">
            <h4>Bookmark Methods</h4>
            <!-- @* methods for items. *@ -->
            <div class="methods">
                <table class="table">
                    <tr style="background-color: #6DC5F0">
                        <th align="left"><h3><b>Method</b></h3></th>
                        <th align="left"><h3><b>Path</b></h3></th>
                        <th align="left"><h3><b>Body</b></h3></th>
                        <th align="left"><h3><b>Description</b></h3></th>
                        <th align="left"><h3><b>Example</b></h3></th>
                    </tr>
                    <tr>
                        <td>GET</td>
                        <td>/api/bookmarks?userId={id of owner}&password={password of owner}/</td>
                        <td>N/A</td>
                        <td>Returns an array of bookmark results with the bookmarkid and the item.</td>
                        <td>GET showandsell/api/bookmarks?userId=654654&password=passwrd/</td>
                    </tr>
                    <tr>
                        <td>POST</td>
                        <td>/api/bookmarks/</td>
                        <td>
<pre>
{
    "userId":"{userId of owner}",
    "ssItem":{
        "ssItemId":"id of the item",
        "groupId":"id of group it belongs to",
        "ownerId":"id of the user posting it",
        "name":"the title of the item",
        "price":"the price of the item (in decimal format)",
        "condition":"the item's condition",
        "description":"a short description of the item",
        "thumbnail":"thumbnail image SERIALIZED"
    }
}
</pre>
                        </td>
                        <td>
                            Adds a bookmark to the user with the given userId.
                        </td>
                        <td>
<pre>
POST /api/bookmarks/
{
    "userId":"mcjcloud",
    "ssItem":{
        "groupId":"5ac56db2-f323",
        "ownerId":"asdfwer1-3asd",
        "name":"Baseball bat",
        "price":"5.00",
        "condition":"Used, minor scuffs",
        "description":"wooden baseball bat, signed by Babe Ruth",
        "thumbnail":"(insert really long string that makes up an image.)"
    }
}
</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>DELETE</td>
                        <td>/api/bookmarks/{id of bookmark}/</td>
                        <td>N/A</td>
                        <td>Deletes a bookmark.</td>
                        <td>DELETE /api/bookmarks/5ac56db2-f323/</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
